/* Main CSS document */

/* Reset the margin and the padding and also set the default font */
*{
    margin: 0;
    padding: 0;
    font-family:  'Roboto', sans-serif;
    box-sizing: border-box;
}

#avi, #banner h1, #img-1{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        pointer-events: none;
}

/* Banner bar */

#banner{
    overflow: auto;
    text-align: center;
    font-size: 15px;
    height: 51px;
    top: 0px;
    line-height: 50px;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
}
    #menu-button{
        height: 60%;
        /*margin: 20px;*/
        float: left;

        transition: filter 400ms;
        transition: transform 400ms;
    }
    #menu-button img{
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(50%);
    }
        #menu-button:hover img{
            filter: grayscale(70%) contrast(100%);
        }

        #menu-button.clicked{
            transform: scale(0.8);
        }
        #menu-button img.mantenuto{
            filter: grayscale(0%) contrast(100%);
            /*transform: scale(0.9);*/
        }
        #spacer{
          width: 50px;
          height: 100%;
          float: right;
        }
        #login{
          position: fixed;
          top: 0px;
          right: 0px;
          height: 51px;
          width: 100px;
          background-color: lightgrey;
          color: white;
          font-size: 20px;
          transition: ease-in-out all 100ms;

          -webkit-touch-callout: none;
            -webkit-user-select: none;
             -khtml-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }
        #login:hover{
          background-color: grey;
        }

/* Navigation menu */
#frame{
    height: calc(100% - 50px);
    position: fixed;
    top: 50px;
    transform: translateX(-200px);
    transition: all 200ms;
    background-color: lightgrey;
    z-index: 1;
}

#frame img{
    width: 200px;
    right: 0;
    position: fixed;
    bottom: 0px;
    filter: grayscale(100%);
    opacity: 0.7;
    z-index: -1;
}

#menu{
    margin-top: 10px;
    width: 200px;
    text-align: center;
    border-collapse: collapse;
    font-size: 20px
}
    #menu td{
        height: 60px;
        font-weight: bold;
    }
    #frame.animate{
        transform: translateX(0px);
    }
    .buttons-menu{
        height: 60px;
        margin: 0px;
        padding: 0px;
        line-height: 60px;
        transition: all 200ms;
        }
        .buttons-menu:hover{
            background-color: rgba(255,255,255,0.5);
        }
        #menu a{
            text-decoration: none;
            color: black;
        }

/* Body */

#body{
    margin-top: 50px;
    color: white;
    min-height: calc(100% - 50px);
    background-color: #185ca5;
    text-align: left;
}
#body div{
    text-align: left;
    margin-left: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    float: left;
    width: calc(50% - 50px);
    font-size: 20px;
	z-index: -1;
}
#body div h1{
    font-size: 50px
}
#img-1{
    width: 50%;
    float: right;
    filter: grayscale(100%);
    position: absolute;
    bottom: -1px;
}

#home{
    height: 1px;
}

/* Gallery */
    /* Gallery anchor */
    #gallery{
      position: absolute;
      top: calc(100% - 50px);
      border: 1px solid green;
    }
#gallery-section{
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #A51818;
  color: white;
}
#gallery-section div{
  height: calc(100% - (50px + 40px));
  padding: 30px;
	padding-top: 40px;
}

/* Productivity section */
    /* productivity anchor */
    /*#productivity{
        position: absolute;
        top: calc(200% - 99px);
    }
#productivity-section{
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #57a518;
    color: white;
}
    #productivity-section div{
        height: calc(100% - 140px);
        padding: 30px;
        padding-top: 40px;
    }*/
    /* Productivity-section table */
        /*#productivity-table{
            width: 100%;
            background-color: rgba(255,255,255,0.7);
            text-align: center;
            height: 80%;
        }
            #productivity-table td{
                width: calc(100%/31);
            }*/

/* Footer */

#footer{
    background-color: rgba(50,50,50,0.8);
    color: rgba(255,255,255,0.7);
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: -1;
}

#itMe{
    width: 199px;
    left: calc(100% - 200px);
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    #body{
        text-align: center;
    }
    #img-1{
        width: 300px;
        float: none;
        position: relative;
    }
    #body div{
        width: calc(100% - 100px);
    }
    #menu{
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    #frame{
        width: 100%;
        transform: translateX(-100%);
    }
}

/* Magnific Popup */

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
