*{
	margin: 0;
	padding: 0;
	font-family:  'Roboto', sans-serif;
}
body{
	background-color: #A51818;
	text-align: center;
	margin: 20px;
}
.mainFrame{
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: white;
}
h2{
	font-size: 30px;
	color: white;
}
.form{
	padding: 10px;
}
.form div{
	text-align: left;
	padding: 6px;
}
.form div input{
	width: 250px;
	float: right;
}

input[type=button], input[type=submit]{
	/*background-color: #4CAF50;*/
	background-color: grey;
  border: none;
  color: white;
  padding: 4px 4px;
	width: 30%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
	font-size: 20px;
}

@media only screen and (max-width: 500px) {
  	.mainFrame{
			width: 80%;
		}
		.form div input{
			width: 100%;
		}
		.form div{
			margin-bottom: 15px;
		}
}
